<template>
    <div class="valentine-builder__footer">
        <div class="valentine-builder__footer-left">
            <svg width="1em" height="1em" class="icon icon-heart3 ">
                <use :xlink:href="`${icon_svg_path}#icon-heart3`"></use>
            </svg>
            <div class="valentine-builder__footer-left-txt"><span>Отправить валентинку</span><span>Спецпроект RTVI</span></div>
        </div>
        <div class="valentine-builder__footer-right" v-show="!wait">
            <button type="button" class="valentine-builder__footer-prev" @click="onBack()">
                <svg width="1em" height="1em" class="icon icon-arrSmallLeft ">
                    <use :xlink:href="`${icon_svg_path}#icon-arrSmallLeft`"></use>
                </svg><span>На шаг назад</span>
            </button>
            <button type="button" class="valentine-builder__footer-next" @click="onNext()"><span>Дальше</span>
                <svg width="1em" height="1em" class="icon icon-arrSmallRight ">
                    <use :xlink:href="`${icon_svg_path}#icon-arrSmallRight`"></use>
                </svg>
            </button>
            <button type="button" class="valentine-builder__footer-repeat" @click="repeat">
                <svg width="1em" height="1em" class="icon icon-valentine-repeat ">
                    <use :xlink:href="`${icon_svg_path}#icon-valentine-repeat`"></use>
                </svg><span>Повторить</span>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["onNext", "onBack", "onReset", "wait","icon_svg_path","repeat_confirm_text"],
        methods: {
            repeat() {
                if (confirm(this.repeat_confirm_text)) this.onReset()
            }
        }
    }
</script>