<template>
    <div class="valentine-builder__header">
        <div class="valentine-builder__header-panel">
            <div>
                <svg width="1em" height="1em" class="icon icon-valentine-background ">
                    <use :xlink:href="`${icon_svg_path}#icon-valentine-background`"></use>
                </svg><span>Фон</span>
            </div>
            <div>
                <svg width="1em" height="1em" class="icon icon-valentine-text ">
                    <use :xlink:href="`${icon_svg_path}#icon-valentine-text`"></use>
                </svg><span>Содержание</span>
            </div>
            <div>
                <svg width="1em" height="1em" class="icon icon-valentine-name ">
                    <use :xlink:href="`${icon_svg_path}#icon-valentine-name`"></use>
                </svg><span>Данные</span>
            </div>
            <div>
                <svg width="1em" height="1em" class="icon icon-valentine-share ">
                    <use :xlink:href="`${icon_svg_path}#icon-valentine-share`"></use>
                </svg><span>Шаринг</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["icon_svg_path"]
    }
</script>