<template>

    <form :class="`valentine-builder valentine-builder--${classes[step]}`" id="valentine-card">
        <Header :icon_svg_path="icon_svg_path"/>
        <div class="valentine-builder__content">
            <vue-element-loading :active="wait" spinner="bar-fade-scale" color="#FF6700"/>
            <div class="valentine-builder__content-postcard valentine-builder__tup_img" v-show="step > 2">
                <img :src="data.local_path"/>
            </div>
            <div class="valentine-builder__content-postcard" id="canvas_save_img" v-show="step <= 2">
                <div class="valentine-builder__content-postcard-logo">
                    <svg width="120" height="58" viewBox="0 0 120 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M0 46.2374L0.0468914 0H108.499L120 34.7071V58H65.2755L0 46.2374ZM60.9394 11.6872H37.4428V17.2139H46.0242V34.6224H46.6401H52.358V17.2139H60.9394V11.6872ZM30.5307 27.696C32.9504 26.3308 35.3732 23.8515 35.3732 20.2832C35.3732 15.447 31.3091 11.6904 26.4791 11.6904H11.592V34.6224H17.4443V28.7631H23.4936L27.6952 34.6224H35.3951L30.5307 27.696ZM29.8179 20.2832C29.8179 22.138 28.1485 23.3651 26.3009 23.3651H17.4443V20.1985L14.5307 17.261H26.304C28.1516 17.261 29.821 18.419 29.821 20.2738L29.8179 20.2832ZM76.6737 24.0555L75.5264 26.9303H75.3576L74.2384 24.1277L69.5053 11.6872H63.2685L72.9316 34.6224H77.9461L88.2001 11.6872H81.9633L76.6737 24.0555ZM90.898 11.6872V17.2704H94.9809L90.898 20.1985V34.6224H96.9129V11.6872H90.898Z" fill="#B31E1E"></path>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M35.3732 20.2832C35.3732 23.8515 32.9504 26.3308 30.5307 27.696L35.3951 34.6224H27.6952L23.4936 28.763H17.4443V34.6224H11.592V11.6904H26.4791C31.3091 11.6904 35.3732 15.447 35.3732 20.2832ZM29.8179 20.2832C29.8179 22.138 28.1485 23.3651 26.3009 23.3651H17.4443V20.1985L14.5307 17.2609H26.304C28.1516 17.2609 29.821 18.419 29.821 20.2738L29.8179 20.2832Z" fill="white"></path>
                        <path d="M37.4428 11.6872H60.9394V17.2139H52.358V34.6224H46.6401H46.0242V17.2139H37.4428V11.6872Z" fill="white"></path>
                        <path d="M75.5264 26.9302L76.6737 24.0555L81.9633 11.6872H88.2001L77.9461 34.6224H72.9316L63.2685 11.6872H69.5053L74.2384 24.1277L75.3576 26.9302H75.5264Z" fill="white"></path>
                        <path d="M90.898 17.2704V11.6872H96.9129V34.6224H90.898V20.1985L94.9809 17.2704H90.898Z" fill="white"></path>
                        <path d="M57.45 48.9868H60.07C61.31 48.9868 62.11 48.4368 62.11 47.3768C62.11 46.8768 61.91 46.4168 61.5 46.2168C61.77 45.9468 61.98 45.6568 61.98 45.2268C61.98 44.1868 61.2 43.7868 59.72 43.7868H57.45V48.9868ZM59.87 46.9768C60.39 46.9768 60.61 47.0768 60.61 47.3468C60.61 47.5968 60.39 47.6868 59.93 47.6868H58.9V46.9768H59.87ZM59.69 45.0868C60.27 45.0868 60.48 45.1368 60.48 45.4068C60.48 45.6468 60.31 45.7268 59.99 45.7268H58.9V45.0868H59.69ZM63.4825 45.5268C64.0225 45.1468 64.3625 45.0268 64.9225 45.0268C65.4825 45.0268 65.7725 45.2368 65.7625 45.7668C65.5425 45.6868 65.1825 45.6368 64.8225 45.6368C63.5825 45.6368 62.4625 46.1468 62.4625 47.3468C62.4625 48.3768 63.2125 49.0468 64.3625 49.0468C64.9925 49.0468 65.5425 48.7768 65.7625 48.5168V48.9868H67.2125V45.8368C67.2125 44.4668 66.4225 43.6768 65.0825 43.6768C64.1325 43.6768 63.2825 43.9668 62.7925 44.4768L63.4825 45.5268ZM64.6625 47.7968C64.2225 47.7968 63.9625 47.6268 63.9625 47.3468C63.9625 46.9668 64.3925 46.8368 64.9725 46.8368C65.2725 46.8368 65.6025 46.9068 65.7625 46.9668V47.2068C65.5925 47.5368 65.1525 47.7968 64.6625 47.7968ZM71.5448 48.9868H72.9948V43.7868H68.7648V44.9168C68.7648 47.4268 68.3848 47.7768 67.6548 47.6868V48.9868C69.4248 49.3268 70.1348 48.0568 70.1348 45.2768V45.1368H71.5448V48.9868ZM77.8253 47.1468C77.5153 47.5268 76.9653 47.7168 76.4753 47.7168C75.8353 47.7168 75.3053 47.4768 75.1653 46.9068H78.7453C78.8053 46.5168 78.8253 46.2268 78.8253 46.0668C78.8253 44.6168 77.7653 43.6768 76.3453 43.6768C74.5853 43.6768 73.6453 44.8568 73.6453 46.3768C73.6453 48.0168 74.7753 49.0668 76.4553 49.0668C77.3253 49.0668 78.1353 48.7268 78.6953 48.0268L77.8253 47.1468ZM76.2953 44.9768C76.8253 44.9768 77.1953 45.1668 77.3253 45.6568H75.1953C75.3753 45.1968 75.7453 44.9768 76.2953 44.9768ZM82.9115 48.9868H84.3615V43.7868H82.9115V45.6868H80.9215V43.7868H79.4715V48.9868H80.9215V47.0368H82.9115V48.9868ZM84.8525 45.1368H86.6225V48.9868H88.0725V45.1368H89.8625V43.7868H84.8525V45.1368ZM91.5804 48.9868L93.9104 46.1568V48.9868H95.3604V43.7868H94.1304L91.8004 46.6168V43.7868H90.3504V48.9868H91.5804ZM99.6986 48.9868H101.149V43.7868H99.6986V45.6868H97.7086V43.7868H96.2586V48.9868H97.7086V47.0368H99.6986V48.9868ZM102.05 48.9868H103.5V47.3468L103.82 47.0168L105.43 48.9868H107.27L104.86 46.0968L107.22 43.7868H105.34L103.5 45.6468V43.7868H102.05V48.9868ZM108.082 45.5268C108.622 45.1468 108.962 45.0268 109.522 45.0268C110.082 45.0268 110.372 45.2368 110.362 45.7668C110.142 45.6868 109.782 45.6368 109.422 45.6368C108.182 45.6368 107.062 46.1468 107.062 47.3468C107.062 48.3768 107.812 49.0468 108.962 49.0468C109.592 49.0468 110.142 48.7768 110.362 48.5168V48.9868H111.812V45.8368C111.812 44.4668 111.022 43.6768 109.682 43.6768C108.732 43.6768 107.882 43.9668 107.392 44.4768L108.082 45.5268ZM109.262 47.7968C108.822 47.7968 108.562 47.6268 108.562 47.3468C108.562 46.9668 108.992 46.8368 109.572 46.8368C109.872 46.8368 110.202 46.9068 110.362 46.9668V47.2068C110.192 47.5368 109.752 47.7968 109.262 47.7968Z" fill="white"></path>
                    </svg>
                </div>
                <div class="valentine-builder__content-postcard-img">
                    <div class="h-object-fit"><img v-if="covers.length" :src="covers[data.cover].link" alt="picture" crossorigin="anonymous"/></div>
                </div>
                <div class="valentine-builder__content-postcard-stamp">
                    <svg width="163" height="113" viewBox="0 0 163 113" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path opacity="0.3" d="M81.6667 23.5491V16.2157C79.6416 16.2157 78 14.5741 78 12.5491C78 10.524 79.6416 8.88241 81.6667 8.88241V1.54907H74.3333C74.3333 3.57412 72.6917 5.21574 70.6667 5.21574C68.6416 5.21574 67 3.57412 67 1.54907H59.6667C59.6667 3.57412 58.025 5.21574 56 5.21574C53.975 5.21574 52.3333 3.57412 52.3333 1.54907H45C45 3.57412 43.3584 5.21574 41.3333 5.21574C39.3083 5.21574 37.6667 3.57412 37.6667 1.54907H30.3333C30.3333 3.57412 28.6917 5.21574 26.6667 5.21574C24.6416 5.21574 23 3.57412 23 1.54907H15.6667C15.6667 3.57412 14.025 5.21574 12 5.21574C9.97495 5.21574 8.33333 3.57412 8.33333 1.54907H1V8.88241C3.02504 8.88241 4.66667 10.524 4.66667 12.5491C4.66667 14.5741 3.02504 16.2157 1 16.2157V23.5491C3.02504 23.5491 4.66667 25.1907 4.66667 27.2157C4.66667 29.2408 3.02504 30.8824 1 30.8824V38.2157C3.02504 38.2157 4.66667 39.8574 4.66667 41.8824C4.66667 43.9075 3.02504 45.5491 1 45.5491V52.8824C3.02504 52.8824 4.66667 54.524 4.66667 56.5491C4.66667 58.5741 3.02504 60.2157 1 60.2157V67.5491C3.02504 67.5491 4.66667 69.1907 4.66667 71.2157C4.66667 73.2408 3.02504 74.8824 1 74.8824V82.2157C3.02504 82.2157 4.66667 83.8574 4.66667 85.8824C4.66667 87.9075 3.02504 89.5491 1 89.5491V96.8824C3.02504 96.8824 4.66667 98.524 4.66667 100.549C4.66667 102.574 3.02504 104.216 1 104.216V111.549H8.33333C8.33333 109.524 9.97495 107.882 12 107.882C14.025 107.882 15.6667 109.524 15.6667 111.549H23C23 109.524 24.6416 107.882 26.6667 107.882C28.6917 107.882 30.3333 109.524 30.3333 111.549H37.6667C37.6667 109.524 39.3083 107.882 41.3333 107.882C43.3584 107.882 45 109.524 45 111.549H52.3333C52.3333 109.524 53.975 107.882 56 107.882C58.025 107.882 59.6667 109.524 59.6667 111.549H67C67 109.524 68.6416 107.882 70.6667 107.882C72.6917 107.882 74.3333 109.524 74.3333 111.549H81.6667V104.216C79.6416 104.216 78 102.574 78 100.549C78 98.524 79.6416 96.8824 81.6667 96.8824V89.5491C79.6416 89.5491 78 87.9075 78 85.8824C78 83.8574 79.6416 82.2157 81.6667 82.2157V74.8824C79.6416 74.8824 78 73.2408 78 71.2157C78 69.1907 79.6416 67.5491 81.6667 67.5491V60.2157C79.6416 60.2157 78 58.5741 78 56.5491C78 54.524 79.6416 52.8824 81.6667 52.8824M74.3333 46.6211C75.2568 45.5389 78.4726 43.3744 83.9481 43.3744C94.7169 43.3744 92.599 49.9491 103.504 49.9491C115.324 49.9491 111.469 43.3744 123.222 43.3744C134.887 43.3744 130.984 49.9491 142.778 49.9491C154.435 49.9491 150.661 43.3744 162.333 43.3744M74.3333 40.3751C75.2568 39.2929 78.4726 37.1284 83.9481 37.1284C94.7169 37.1284 92.599 43.7031 103.504 43.7031C115.324 43.7031 111.469 37.1284 123.222 37.1284C134.887 37.1284 130.984 43.7031 142.778 43.7031C154.435 43.7031 150.661 37.1284 162.333 37.1284M74.3333 34.1292C75.2568 33.0469 78.4726 30.8824 83.9481 30.8824C94.7169 30.8824 92.599 37.4571 103.504 37.4571C115.324 37.4571 111.469 30.8824 123.222 30.8824C134.887 30.8824 130.984 37.4571 142.778 37.4571C154.435 37.4571 150.661 30.8824 162.333 30.8824M90.1 88.4491H161.233M90.1 73.7824H161.233" stroke="white" stroke-width="1.2"></path>
                    </svg>
                </div>
                <div class="valentine-builder__content-postcard-hero" v-if="step >= 1">
                    <img :src="characters[data.character].link" alt="picture" crossorigin="anonymous"/>
                </div>
                <div class="valentine-builder__content-postcard-text" v-if="step >= 1">
                    <span>{{characters[data.character].text1}}</span><span>{{characters[data.character].text2}}</span>
                </div>
                <div class="valentine-builder__content-postcard-fromTo" v-if="step >= 2">
                    <div v-if="data.from_who_show">
                        <span>От кого</span>
                        <span class="postcard-fromTo-name">{{data.from_who || from_who_placeholder}}</span>
                        <span class="decorLine">
                            <svg width="260" height="1" viewBox="0 0 260 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="0.5" y1="0.5" x2="259.5" y2="0.5" stroke="url(#paint0_linear)" stroke-linecap="round"/>
                                <defs>
                                    <linearGradient id="paint0_linear" x1="-1.44954e-08" y1="1" x2="260" y2="1.00126" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="white"/>
                                        <stop offset="1" stop-color="white" stop-opacity="0"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </span>
                    </div>
                    <div>
                        <span>Кому</span>
                        <span class="postcard-fromTo-name">{{data.from_to || from_to_placeholder}}</span>
                        <span class="decorLine">
                            <svg width="260" height="1" viewBox="0 0 260 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <line x1="0.5" y1="0.5" x2="259.5" y2="0.5" stroke="url(#paint0_linear)" stroke-linecap="round"/>
                                <defs>
                                    <linearGradient id="paint0_linear" x1="-1.44954e-08" y1="1" x2="260" y2="1.00126" gradientUnits="userSpaceOnUse">
                                        <stop stop-color="white"/>
                                        <stop offset="1" stop-color="white" stop-opacity="0"/>
                                    </linearGradient>
                                </defs>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
            <ToolBack v-show="step === 0"
                      :covers="covers"
                      :cover="data.cover"
                      :ch="changeData"
            />
            <ToolFace v-show="step === 1"
                      :characters="characters"
                      :character="data.character"
                      :ch="changeData"
            />
            <ToolInput v-if="step === 2"
                       :from_to="data.from_to"
                       :from_who="data.from_who"
                       :from_who_show="data.from_who_show"
                       :ch="changeData"
            />
            <ToolShare v-if="step === 3"
                       :image="data.image"
                       :save_handler_url="save_handler_url"
                       :sender_handler_url="sender_handler_url"
                       :on_send_ok="on_send_ok"
                       :on_send_error="on_send_error"
                       :img_ext_format="img_ext_format"
                       :img_format="img_format"
                       :wait_controller="wait_controller"
                       :icon_svg_path="icon_svg_path"
                       :ch="changeData"
            />
        </div>
        <Footer :onNext="nextStep" :onBack="backStep" :onReset="resetStep" :wait="wait" :icon_svg_path="icon_svg_path" :repeat_confirm_text="repeat_confirm_text"/>
    </form>

</template>

<script>

    import Header from "./Header"
    import Footer from "./Footer"
    import ToolBack from "./ToolBack"
    import ToolFace from "./ToolFace"
    import ToolInput from "./ToolInput"
    import ToolShare from "./ToolShare"
    import html2canvas from "html2canvas"
    import VueElementLoading from "vue-element-loading"


    export default {
        props: ["options"],
        components: {
            Header, Footer, ToolBack, ToolFace, ToolInput, ToolShare, VueElementLoading
        },
        data () {
            return {
                wait: false,
                step: 0,
                classes: ["back", "face", "input", "share"],
                covers: [],
                characters: [],
                options_default: {
                    covers_url: "/covers.json",
                    characters_url: "/characters.json",
                    save_handler_url: "/save.php",
                    sender_handler_url: "/send.php",
                    on_send_ok: function (response, obj) {
                        alert("Сообщение успешно отправлено");
                    },
                    on_send_error: function (response, obj) {
                        alert("Сообщение не удалось отправить, попробуйте снова через 5 минут");
                    },
                    img_format: "image/png",
                    from_who_placeholder: "Мария Ивановна",
                    from_to_placeholder: "Любимой",
                    icon_svg_path: "s/images/useful/svg/theme/symbol-defs.svg",
                    repeat_confirm_text: "Вы уверены?"
                },
                data: {
                    cover: 0,
                    character: 0,
                    from_who_show: true,
                    from_who: "",
                    from_to: "",
                    image: "",
                    local_path: ""
                }
            }
        },
        computed: {
            covers_url () { return this.options.covers_url !== undefined ? this.options.covers_url : this.options_default.covers_url },
            characters_url () { return this.options.characters_url !== undefined ? this.options.characters_url : this.options_default.characters_url },
            save_handler_url () { return this.options.save_handler_url !== undefined ? this.options.save_handler_url : this.options_default.save_handler_url },
            sender_handler_url () { return this.options.sender_handler_url !== undefined ? this.options.sender_handler_url : this.options_default.sender_handler_url },
            on_send_ok () { return this.options.on_send_ok !== undefined ? this.options.on_send_ok : this.options_default.on_send_ok },
            on_send_error () { return this.options.on_send_error !== undefined ? this.options.on_send_error : this.options_default.on_send_error },
            img_format () { return this.options.img_format !== undefined ? this.options.img_format : this.options_default.img_format },
            img_ext_format () { return this.options.img_ext_format !== undefined ? this.options.img_ext_format : this.img_format.split("/")[1] },
            from_who_placeholder () { return this.options.from_who_placeholder !== undefined ? this.options.from_who_placeholder : this.options_default.from_who_placeholder },
            from_to_placeholder () { return this.options.from_to_placeholder !== undefined ? this.options.from_to_placeholder : this.options_default.from_to_placeholder },
            icon_svg_path () { return this.options.icon_svg_path !== undefined ? this.options.icon_svg_path : this.options_default.icon_svg_path },
            repeat_confirm_text () { return this.options.repeat_confirm_text !== undefined ? this.options.repeat_confirm_text : this.options_default.repeat_confirm_text },
        },
        mounted() {
            axios.get(this.covers_url).then((response) => { this.covers = response.data; })
            axios.get(this.characters_url).then((response) => { this.characters = response.data; })
        },
        methods: {
            nextStep () {
                let tmp_step = this.step+1
                if (tmp_step === 3) {
                    this.wait = true;
                    html2canvas(document.getElementById("canvas_save_img"), {allowTaint: true}).then((canvas) => { this.data.image = this.convertCanvasToImage(canvas); this.step++; });
                } else {
                    this.step++

                }
            },
            wait_controller (bool) { this.wait = bool },
            backStep () { this.step-- },
            resetStep () {
                this.step = 0;
                this.data.from_who = "";
                this.data.from_to = "";
                this.data.image = "";
                this.data.from_who_show = true;
            },
            changeData (dataName, dataValue) { this.data[dataName] = dataValue },
            convertCanvasToImage (canvas) {
                let src;
                try {
                    src = canvas.toDataURL(this.img_format);
                } catch (e) { alert(e); }
                return src;
            }
        }
    }

</script>