<template>
    <div class="valentine-builder__content-tools">
        <h6>
            <svg width="1em" height="1em" class="icon icon-valentine-finish ">
                <use :xlink:href="`${icon_svg_path}#icon-valentine-finish`"></use>
            </svg><span>Готово!</span>
        </h6>
        <div class="valentine-builder__content-tools-inner">
            <div class="valentine-builder__content-tools-inner-fields">
                <div class="valentine-builder__content-tools-inner-fields-line"><span>Теперь можно отправить получателю 😍</span></div>
                <div class="valentine-builder__content-tools-inner-fields-mail">
                    <div class="form-group form-group-valentine form-group-mail">
                        <div class="input-wrap">
                            <label for="input-emailId" class="input-title">Отправить по email</label>
                            <input type="text" placeholder="Email получателя..." v-model="mail_to" id="input-emailId" class="form-control"/>
                        </div>
                    </div>
                    <button type="button" :disabled="!validate_email" @click="send"><span>Отправить</span>
                        <svg width="1em" height="1em" class="icon icon-arrSmallRight ">
                            <use :xlink:href="`${icon_svg_path}#icon-arrSmallRight`"></use>
                        </svg>
                    </button>
                </div>
                <div class="valentine-builder__content-tools-inner-fields-save"><span>Сохранить</span>
                    <a :href="img" :download="`Валентинка.${img_ext_format}`"><button type="button">
                        <svg width="1em" height="1em" class="icon icon-valentine-save ">
                            <use :xlink:href="`${icon_svg_path}#icon-valentine-save`"></use>
                        </svg><span>Скачать на ПК</span>
                    </button></a>
                </div>
                <div class="valentine-builder__content-tools-inner-fields-share"><span>Поделиться</span>
                    <div class="valentine-builder__content-tools-inner-fields-share-inner">
                        <a :href="soc.facebook" target="_blank" class="shareItem" v-if="soc.facebook">
                            <svg width="1em" height="1em" class="icon icon-fb ">
                                <use :xlink:href="`${icon_svg_path}#icon-fb`"></use>
                            </svg>
                        </a>
                        <a :href="soc.vk" target="_blank" class="shareItem" v-if="soc.vk">
                            <svg width="1em" height="1em" class="icon icon-vk ">
                                <use :xlink:href="`${icon_svg_path}#icon-vk`"></use>
                            </svg>
                        </a>
                        <a :href="soc.telegram" target="_blank" class="shareItem" v-if="soc.telegram">
                            <svg width="1em" height="1em" class="icon icon-tg ">
                                <use :xlink:href="`${icon_svg_path}#icon-tg`"></use>
                            </svg>
                        </a>
                        <a :href="soc.wh" target="_blank" class="shareItem" v-if="soc.wh">
                            <svg width="1em" height="1em" class="icon icon-wa ">
                                <use :xlink:href="`${icon_svg_path}#icon-wa`"></use>
                            </svg>
                        </a>
                        <a :href="soc.viber" target="_blank" class="shareItem" v-if="soc.viber">
                            <svg width="1em" height="1em" class="icon icon-viber ">
                                <use :xlink:href="`${icon_svg_path}#icon-viber`"></use>
                            </svg>
                        </a>
                        <a :href="soc.ok" target="_blank" class="shareItem" v-if="soc.ok">
                            <svg width="1em" height="1em" class="icon icon-ok ">
                                <use :xlink:href="`${icon_svg_path}#icon-ok`"></use>
                            </svg>
                        </a>
                        <a :href="soc.twitter" target="_blank" class="shareItem" v-if="soc.twitter">
                            <svg width="1em" height="1em" class="icon icon-tw ">
                                <use :xlink:href="`${icon_svg_path}#icon-tw`"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import VueElementLoading from 'vue-element-loading'

    export default {
        components: { VueElementLoading },
        props: ["image","save_handler_url","sender_handler_url","on_send_ok","on_send_error","img_format","img_ext_format","wait_controller","icon_svg_path","ch"],
        data() {
            return {
                mail_to: "",
                local_path: "",
                soc: {
                    facebook: false,
                    telegram: false,
                    twitter: false,
                    viber: false,
                    ok: false,
                    vk: false,
                    wh: false
                }
            }
        },
        mounted () {
            axios.post(this.save_handler_url, {img: this.image, img_format: this.img_format, img_ext_format: this.img_ext_format}).then((response) => {
                let data = response.data;

                if (data.soc !== undefined) {
                    Object.keys(data.soc).map((key, index) => {
                        this.soc[key] = data.soc[key]
                    });
                }

                if (data.file !== undefined) {
                    this.local_path = data.file
                    this.ch("local_path", data.file);
                }

                this.wait_controller(false)
            })
        },
        computed: {
            img () { return this.image.replace(new RegExp('/^data:/'+this.img_format+'/'), "data:application/octet-stream"); },
            validate_email() { return /^[a-z]+[a-z\.\-\_]+\@[a-z\.\-\_]+\.[a-z]+$/i.test(this.mail_to) }
        },
        methods: {
            send () {
                axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
                axios.post(this.sender_handler_url, {mail: this.mail_to, img: this.image, img_format: this.img_format, img_ext_format: this.img_ext_format}).then((response) => {
                    let $data = response.data

                    if ($data === "ok") {
                        if (typeof this.on_send_ok == "function") {
                            this.on_send_ok(response, this);
                        }
                    } else {
                        if (typeof this.on_send_error == "function") {
                            this.on_send_error(response, this);
                        }
                    }
                }).catch((response) => {
                    console.log("catch");
                    if (typeof this.on_send_error == "function") {
                        this.on_send_error(response, this);
                    }
                })
            }
        }
    }
</script>