<template>
    <div class="valentine-builder__content-tools">
        <h6>Данные</h6>
        <div class="valentine-builder__content-tools-inner">
            <div class="valentine-builder__content-tools-inner-fields">
                <div class="valentine-builder__content-tools-inner-fields-line"><span>Отправить анонимно?</span>
                    <label class="custom-switch">

                        <span class="switch-value" :style="fromWhoShow ? 'color: #A03761' : ''">Нет</span>

                        <input type="checkbox" :checked="from_who_show" v-model="fromWhoShow"/>

                        <span class="switch-slider round"></span>
                        <span class="switch-value" :style="fromWhoShow ? '' : 'color: #A03761'">Да</span>

                    </label>
                </div>
                <div class="form-group form-group-valentine form-group-name" v-show="fromWhoShow">
                    <div class="input-wrap">
                        <label for="input-fromId" class="input-title">От кого</label>
                        <input type="text" placeholder="Как подписать валентинку?" value="" v-model="fromWho" id="input-fromId" class="form-control"/>
                    </div>
                </div>
                <div class="form-group form-group-valentine form-group-name">
                    <div class="input-wrap">
                        <label for="input-toId" class="input-title">Кому</label>
                        <input type="text" placeholder="Ваш получатель" value="" v-model="fromTo" id="input-toId" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["from_to", "from_who", "ch", "from_who_show"],
        data () {
            return {
                fromTo: "",
                fromWho: "",
                fromWhoShow: true
            }
        },
        watch: {
            fromTo(val) { this.ch('from_to', val); },
            fromWho(val) { this.ch('from_who', val); },
            fromWhoShow(val) { this.ch('from_who_show', val); }
        }
    }
</script>