<template>
    <div class="valentine-builder__content-tools">
        <h6>Содержание</h6>
        <div class="valentine-builder__content-tools-inner">

            <div class="form-group form-group-face" v-for="(character_data, key) in characters">
                <label class="radio-label valentine-face-label" @click="ch('character', key)">
                    <input type="radio" name="valentine_face" required="required" :checked="character == key" value="" class="hidden-input"/>
                    <span class="check-icon"></span>
                    <span class="check-value"></span>
                    <div class="valentine-face-label__container">
                        <div class="valentine-face-label__img">
                            <img :src="character_data.miniature" alt="picture"/>
                        </div>
                        <span>{{character_data.text2}}</span>
                    </div>
                    <span class="decorForChecked"></span>
                </label>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        props: ["characters","character","ch"]
    }
</script>