<template>
    <div class="valentine-builder__content-tools" v-if="covers">
        <h6>Фоны</h6>


        <div class="valentine-builder__content-tools-inner">

            <div class="form-group form-group-back" v-for="(cover_data, key) in covers">
                <label class="radio-label valentine-back-label" @click="ch('cover', key)">
                    <input type="radio" name="valentine-back-name" :checked="cover == key" required="required" value="" class="hidden-input"/>
                    <span class="check-icon"></span>
                    <span class="check-value"></span>
                    <img :src="cover_data.miniature" alt="picture"/>
                    <span class="decorForChecked"></span>
                </label>
            </div>

        </div>

    </div>
</template>

<script>

    export default {
        components: {

        },
        props: ["covers","cover","ch"]
    }
</script>